In [2]:
import pandas as pd
import copy

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\sueso\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\sueso\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sueso\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\sueso\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sueso\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\sueso\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [5]:
data = pd.read_csv("data.csv")

In [6]:
data.head()

      name   firstAd   secondAd   thirdAd   fourthAd
0  Salamot         0          0         0          0
1   Minnie         0         56         0         30
2      Mia         0          0        30          0

In [9]:
data.dtypes

name         object
 firstAd      int64
 secondAd     int64
 thirdAd      int64
 fourthAd     int64
dtype: object

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       3 non-null      object
 1    firstAd   3 non-null      int64
 2    secondAd  3 non-null      int64
 3    thirdAd   3 non-null      int64
 4    fourthAd  3 non-null      int64
dtypes: int64(4), object(1)
memory usage: 252.0+ bytes

In [25]:
data['totalAd'] = data[' firstAd'] + data[' secondAd'] + data[' thirdAd'] + data[' fourthAd']
data.head()

,name,firstAd,secondAd,thirdAd,fourthAd,totalAd,secondAd_prop,totalAd_prop
0,Salamot,0,0,0,0,0,0.000000,0.000000
1,Minnie,0,56,0,30,86,0.482759,0.741379
2,Mia,0,0,30,0,30,0.000000,0.258621

In [28]:
data["totalAd_prop"] = data["totalAd"] / data["totalAd"].aggregate("sum", axis=0)
data = data.drop(["secondAd_prop"])

,name,firstAd,secondAd,thirdAd,fourthAd,totalAd,secondAd_prop,totalAd_prop
0,Salamot,0,0,0,0,0,0.000000,0.000000
1,Minnie,0,56,0,30,86,0.482759,0.741379
2,Mia,0,0,30,0,30,0.000000,0.258621