In [4]:
import numpy as np, pandas as pd
import matplotlib.pyplot as plt, seaborn as sns
%matplotlib inline

In [5]:
data0 = pd.read_csv("Mall_Customers.csv")
data0.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [6]:
data0.rename({'Annual Income (k$)':'Income', \
              'Spending Score (1-100)':'Spend_score'}, axis=1, \
             inplace=True)
data0.head()

   CustomerID  Gender  Age  Income  Spend_score
0           1    Male   19      15           39
1           2    Male   21      15           81
2           3  Female   20      16            6
3           4  Female   23      16           77
4           5  Female   31      17           40

In [13]:
data0['Cluster'] = np.where(data0.Income >= 90, 'High earners', 
                            np.where(data0.Income < 50, 
                            'Low Income', 'Moderate Income'))
data0[data0['Cluster'] == "Moderate Income"]

     CustomerID  Gender  Age  Income  Spend_score          Cluster
72           73  Female   60      50           49  Moderate Income
73           74  Female   60      50           56  Moderate Income
74           75    Male   59      54           47  Moderate Income
75           76    Male   26      54           54  Moderate Income
76           77  Female   45      54           53  Moderate Income
..          ...     ...  ...     ...          ...              ...
173         174    Male   36      87           92  Moderate Income
174         175  Female   52      88           13  Moderate Income
175         176  Female   30      88           86  Moderate Income
176         177    Male   58      88           15  Moderate Income
177         178    Male   27      88           69  Moderate Income

[106 rows x 6 columns]

In [14]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [16]:
cols_to_scale = ['Age', 'Income', 'Spend_score']
data_scaled = data0.copy()
data_scaled[cols_to_scale] = scaler.fit_transform\
                             (data0[cols_to_scale])
data_scaled.head()

   CustomerID  Gender       Age    Income  Spend_score     Cluster
0           1    Male -1.424569 -1.738999    -0.434801  Low Income
1           2    Male -1.281035 -1.738999     1.195704  Low Income
2           3  Female -1.352802 -1.700830    -1.715913  Low Income
3           4  Female -1.137502 -1.700830     1.040418  Low Income
4           5  Female -0.563369 -1.662660    -0.395980  Low Income

In [17]:
cluster_cols = ['Income', 'Spend_score']
data_scaled[cluster_cols].head(3)

     Income  Spend_score
0 -1.738999    -0.434801
1 -1.738999     1.195704
2 -1.700830    -1.715913

In [18]:
from sklearn.cluster import KMeans
model = KMeans(n_clusters=5, random_state=42)

In [23]:
model.fit(data_scaled[cluster_cols])

c:\Users\sueso\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

KMeans(n_clusters=5, random_state=42)

In [24]:
data_scaled

     CustomerID  Gender       Age    Income  Spend_score       Cluster
0             1    Male -1.424569 -1.738999    -0.434801    Low Income
1             2    Male -1.281035 -1.738999     1.195704    Low Income
2             3  Female -1.352802 -1.700830    -1.715913    Low Income
3             4  Female -1.137502 -1.700830     1.040418    Low Income
4             5  Female -0.563369 -1.662660    -0.395980    Low Income
..          ...     ...       ...       ...          ...           ...
195         196  Female -0.276302  2.268791     1.118061  High earners
196         197  Female  0.441365  2.497807    -0.861839  High earners
197         198    Male -0.491602  2.497807     0.923953  High earners
198         199    Male -0.491602  2.917671    -1.250054  High earners
199         200    Male -0.635135  2.917671     1.273347  High earners

[200 rows x 6 columns]

In [25]:
model.fit(data_scaled[cluster_cols])

data_scaled['Cluster'] = model.predict(data_scaled[cluster_cols])

c:\Users\sueso\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

In [26]:
data_scaled.head(3)

   CustomerID  Gender       Age    Income  Spend_score  Cluster
0           1    Male -1.424569 -1.738999    -0.434801        4
1           2    Male -1.281035 -1.738999     1.195704        2
2           3  Female -1.352802 -1.700830    -1.715913        4

In [27]:
cluster_cols = ['Age', 'Income', 'Spend_score']
data_scaled[cluster_cols].head(3)

        Age    Income  Spend_score
0 -1.424569 -1.738999    -0.434801
1 -1.281035 -1.738999     1.195704
2 -1.352802 -1.700830    -1.715913

In [28]:
model = KMeans(n_clusters=4, random_state=42)
model.fit(data_scaled[cluster_cols])
data_scaled['Cluster'] = model.predict(data_scaled[cluster_cols])
from sklearn import decomposition

pca = decomposition.PCA(n_components=2)
pca_res = pca.fit_transform(data_scaled[cluster_cols])

data_scaled['pc1'] = pca_res[:,0]
data_scaled['pc2'] = pca_res[:,1]

c:\Users\sueso\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

In [29]:
data_scaled

,CustomerID,Gender,Age,Income,Spend_score,Cluster,pc1,pc2
0,1,Male,-1.424569,-1.738999,-0.434801,2,-0.615720,-1.763481
1,2,Male,-1.281035,-1.738999,1.195704,2,-1.665793,-1.820747
2,3,Female,-1.352802,-1.700830,-1.715913,2,0.337862,-1.674799
3,4,Female,-1.137502,-1.700830,1.040418,2,-1.456573,-1.772430
4,5,Female,-0.563369,-1.662660,-0.395980,2,-0.038465,-1.662740
...,...,...,...,...,...,...,...,...
195,196,Female,-0.276302,2.268791,1.118061,1,-1.093705,2.215577
196,197,Female,0.441365,2.497807,-0.861839,3,0.800448,2.540748
197,198,Male,-0.491602,2.497807,0.923953,1,-1.119709,2.445169
198,199,Male,-0.491602,2.917671,-1.250054,3,0.395411,2.946665
199,200,Male,-0.635135,2.917671,1.273347,1,-1.488004,2.847018